
        textarea {
            width: -webkit-fill-available;
            height: 300px;
            border-radius: 10px;
            background-color:rgb(220,220,220) ;
        }
        .keyboard {
            
            background-color: rgb(192,192,192);
            border-radius: 10px;
            border: 5px solid rgb(128,128,128);

        }

        dialog>h2 {
            height: 34px;
        }

        dialog {
            width: 315px;
            height: 500px;
           border-color:#D1E8E2;
         
       
        }

       

        body.dark-theme {
            background-color: black;
            color: white;
            font-family: 'Avenir Black', 'Arial Black', sans-serif;
            transition: background-color 1s;

            
            
        }

        body.light-theme {

            font-family: 'Avenir Black', 'Arial Black', sans-serif;
            transition: background-color 1s;
            
        }

        
        h1 {
            text-align: center;
        }


        header {
            text-align: center;
            margin: 20px;
            display: flex;
            justify-content: space-around;
          
        }

        #headerContainer{

            display: grid;
            width: 183px;
            gap: 5px;
    
        }
        #mainContainer {

            display: grid;
            justify-content: center;
            gap:5px;
           
        }

        #dialogContainer {
            display: grid;
            grid-template-rows: 70px 350px 50px;
        }

        #outputContainer {
 
            display: grid;
            justify-content: center;
            gap:15px;
            margin: 45px;

        }

        input {

            text-align: center;
            text-transform: uppercase;
        }


        .container {

            display: flex;
            flex-direction: row;
           
            height: 60px;
            width: 90vw;
            justify-content: center;

        }

        p {

            border: 2px solid #D1E8E2;
            height: 50px;
            width: 50px;
            text-align: center;
            align-items: center;
            margin: 5px;
            display: flex;
            justify-content: center;
            border-radius: 2px;
        }

        #howToPlay{

            background-color: #D1E8E2;
            border: 1px solid black;

        }
        button {
            background-color: black;
            border: 1px solid white;
            color: white;
            font-family: "Alegreya Sans", sans-serif;
            padding: 8px;
        }

        .green {

            background-color: #14A76c;
        }

        .yellow {

            background-color: #FFe400;
        }

        .grey {

            background-color: #D1E8E2;
        }

       

        div .row {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
            
        }
        .key {
            max-width: 100px;
            max-height: 100px;  
           gap: 10px;
            flex-basis: 50px;
            flex-shrink: -5px;
            min-width: 50px;
            min-height: 50px;
            background-color: black;
            color: white;
            border-radius: 10px;
        }

       