
        textarea {
            width: -webkit-fill-available;
            height: 300px;
            border-radius: 10px;
            background-color:rgb(220,220,220) ;
        }
        .keyboard {
            
            background-color: rgb(192,192,192);
            border-radius: 10px;
            border: 5px solid rgb(128,128,128);

        }

        body {
            background-color: #2C3531;
            color: azure;
        }

        h1 {
            text-align: center;
        }

        #mainContainer {

           
           
            display: grid;
            justify-content: center;
            
            gap:15px;
        }

        #outputContainer {
 
            display: grid;
            justify-content: center;
            gap:15px;
            margin: 45px;

        }

        input {

            text-align: center;
            text-transform: uppercase;
        }


        .container {

            display: flex;
            flex-direction: row;
           
            height: 60px;
            width: 90vw;
            justify-content: center;

        }

        p {

            border: 2px solid #D1E8E2;
            height: 50px;
            width: 50px;
            text-align: center;
            align-items: center;
            margin: 2.5px;
            display: flex;
            justify-content: center;
        }

        .green {

            background-color: #116466;
        }

        .yellow {

            background-color: #ffcb9a;
        }

        .grey {

            background-color: #D1E8E2;
        }

       

        div .row {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
            
        }
        .key {
            max-width: 100px;
            max-height: 100px;  
           gap: 10px;
            flex-basis: 50px;
            flex-shrink: -5px;
            min-width: 50px;
            min-height: 50px;
            background-color: black;
            color: white;
            border-radius: 10px;
        }

        #row-0 {
            display: flex;
            justify-content: space-evenly;

        }

        #row-1 {
            display: flex;
            justify-content: space-evenly;

        }

        #row-2 {
            display: flex;
            justify-content: space-evenly;
        }

        #row-3 {
            display: flex;
            justify-content:space-evenly ;
            gap: 50px;
        }

        #spacebar {
            
            display: flex;
            min-width: 290px;
            
        }

  